@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8e9f3;
}

* {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  margin-top: 7vh;
  padding: 1rem;
  background: #fff;
  border-radius: 15px;
}

.heading {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

.button-open {
  background: #ffffff;
  margin: 0 auto;
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.404);
  color: #000;
  width: 200px;
  font-size: 24px;
  padding: 7px 9px;
  text-decoration: none;
  cursor: pointer;
}
