.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal__body {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 600px; /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__button {
  width: fit-content;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.52);
  color: #000;
  font-size: 18px;
  padding: 7px 9px;
  text-decoration: none;
  cursor: pointer;
}
